<div class="pad-zero" ng-controller="MainController">
    <!--Splitlayout -->
    <div id="splitlayout" class="splitlayout reset-layout">
        <!--Intro-->
        <div class="intro">
            <!--Left Content Intro-->
            <div class="side side-left" id="leftSideId" style="background-color:#171717;">
                <div class="header">
                    <div class="main-menu login" style="text-align: center; float: right;">
                        <div style="text-align: center; float: right;">
                            <a href="#login"> <i class="fa fa-user" style="font-size: 2em;"></i></a>
                            <br/>
                            <label style="color: #ab924d" id="loginName" ng-if="!isLogged">Login</label>
                            <label style="color: #ab924d" id="loginName" ng-if="isLogged">{{user.username}}</label>
                        </div>
                        <br/>
                        <a style="color: #a94442; text-decoration: underline;" id="logout" ng-if="isLogged"
                           ng-click="logoutMe()">
                            <span class="button-label text-left">Logout</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-9 col-sm-9 colS-xs-9 align-center content-wrap">
                    <!--Logo-->
                    <div class="logo align-center">
                        <img src="img/logo2.png" alt="logo">
                    </div>
                    <!--/Logo-->
                    <!--main content-->
                    <div class="main" id="main">
                        <!--Content with Typing Intro-->
                        <section id="home" class="section active">
                            <div class="preloader"></div>
                            <div class="align-center text-left">
                                <span class="small-hr animated fadeInLeft" data-animation="fadeInLeft"
                                      style="background-color: #ab924d; width: 100%"
                                      data-out-animation="fadeOutLeft" data-out-animation-delay="100"></span>
                                <p style="color: #ab924d" class="animated fadeInLeft" data-animation="fadeInLeft"
                                   data-out-animation="fadeOutLeft" data-out-animation-delay="150">We are busy working
                                    on something awesome.</p>
                                <div class="type-wrap text-left">
                                    <h1 style="color: #ab924d" class="animated fadeInLeft" data-animation="fadeInLeft"
                                        data-out-animation="fadeOutLeft" data-out-animation-delay="900"><span
                                            id="typed"></span></h1>
                                </div>
                                <div class="notify-btn main-menu" id="actionId">
                                    <a ng-click="" class="btn btn-default animated fadeInLeft listBtn"
                                       data-hover="Notify me" ng-if="isLogged"
                                       data-animation="fadeInLeft" data-animation-delay="500"
                                       data-out-animation="fadeInLeft" data-out-animation-delay="300"
                                       data-toggle="modal" data-target="#notify-my"><span
                                            class="button-label text-left">List</span><span class="arrow-wrap"><span
                                            class="arrow"></span></span></a>
                                    <a href="#contact" style="background-color: #ab924d" ng-if="!isLogged"
                                       class="btn btn-default animated fadeInLeft" data-hover="Notify me"
                                       data-animation="fadeInLeft" data-animation-delay="500"
                                       data-out-animation="fadeInLeft" data-out-animation-delay="300"
                                       data-toggle="modal" data-target="#notify-my"><span
                                            class="button-label text-left">Subscribe</span><span
                                            class="arrow-wrap"><span class="arrow"></span></span></a>
                                </div>
                            </div>
                        </section>
                        <!--/Content with Typing Intro-->

                        <!--Notify Form-->
                        <section id="contact" class="section text-left">
                            <div class="preloader"></div>
                            <div class="main-menu">
                                <a class="close-notify black" href="#home" data-animation="fadeInDown"
                                   data-animation-delay="900" data-out-animation="fadeOutUp"
                                   data-out-animation-delay="100">
                                    <div class="call-to-action">
                                        <i class="fa fa-times fa-2x"></i>
                                        <span class="top" style="background-color: #ab924d"></span>
                                        <span class="right" style="background-color: #ab924d"></span>
                                        <span class="bottom" style="background-color: #ab924d"></span>
                                        <span class="left" style="background-color: #ab924d"></span>
                                    </div>
                                </a>
                            </div>
                            <!--CONTENT CHANGED & <br> ADDED-->
                            <div class="notify-wrap">
                                <h3 class="wellcome-text" data-animation="fadeInLeft"
                                    data-animation-delay="900"
                                    data-out-animation="fadeOutLeft" data-out-animation-delay="100"
                                    data-ng-bind="notify || 'hello..'">Hello..</h3>
                                <!--									<form id="notifyMe" class="contact-form" action="https://joliefleurhair.com/comingsoon/success.php" method="post">-->
                                <form id="notifyMe" class="contact-form"
                                      method="post">
                                    <div style="display: none;" class="pop-outer card" id="modalId">
                                        <div class="pop-inner">
                                            <div class="main-menu modal__header">
                                                <a class="close-notify black close" data-animation="fadeInDown"
                                                   data-animation-delay="900" data-out-animation="fadeOutUp"
                                                   data-out-animation-delay="100">
                                                    <div class="call-to-action">
                                                        <i class="fa fa-times fa-2x"></i>
                                                        <span class="top" style="background-color: #ab924d"></span>
                                                        <span class="right" style="background-color: #ab924d"></span>
                                                        <span class="bottom" style="background-color: #ab924d"></span>
                                                        <span class="left" style="background-color: #ab924d"></span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="modal__content">
                                                <p class="resultMsg">{{message}}</p>
                                                <i id="iconId" class="fa fa-check-circle icon" style="font-size: 5em;
                                        margin-top: 30px; margin-left: 10%;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-wrap" data-animation="fadeInLeft" data-animation-delay="100"
                                         data-out-animation="fadeOutLeft" data-out-animation-delay="900">
                                        <input data-ng-model="firstname" style="color: #ab924d"
                                               class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box"
                                               name="firstname" placeholder="First Name" type="text">
                                        <input data-ng-model="lastname" style="color: #ab924d"
                                               class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box"
                                               name="lastname" placeholder="Last Name" type="text">
                                        <input data-ng-model="notify" style="color: #ab924d"
                                               class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box"
                                               name="email" placeholder="email id" type="email">
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                                    </div>
                                    <div>
                                        <button type="submit" data-hover="Send" ng-click="notifyMe()"
                                                class="btn btn-default progress-button btn-submit"
                                                data-animation="fadeInUp" data-animation-delay="900"
                                                data-out-animation="fadeOutUp" data-out-animation-delay="1300">
                                            <span><span class="arrow-wrap"><span class="arrow"></span></span></span>
                                        </button>
                                    </div>
                                    <br/>
                                    <span><label>{{message}}</label></span>
                                </form>
                            </div>
                        </section>
                        <section id="login" class="section text-left">
                            <div class="preloader"></div>
                            <div class="main-menu">
                                <a class="close-notify black" href="#home" data-animation="fadeInDown"
                                   data-animation-delay="900" data-out-animation="fadeOutUp"
                                   data-out-animation-delay="100" id="loginCloseId">
                                    <div class="call-to-action">
                                        <i class="fa fa-times fa-2x"></i>
                                        <span class="top" style="background-color: #ab924d"></span>
                                        <span class="right" style="background-color: #ab924d"></span>
                                        <span class="bottom" style="background-color: #ab924d"></span>
                                        <span class="left" style="background-color: #ab924d"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="notify-wrap">
                                <div class="type-wrap text-left">
                                    <h3 style="color: #ab924d" class="animated fadeInLeft" data-animation="fadeInLeft"
                                        data-out-animation="fadeOutLeft" data-out-animation-delay="900"><span
                                            id="typed">Login</span></h3>
                                </div>
                                <form class="contact-form" id="loginMe"
                                      method="post">
                                    <div class="input-wrap" data-animation="fadeInLeft"
                                         data-animation-delay="100"
                                         data-out-animation="fadeOutLeft" data-out-animation-delay="900">
                                        <input style="color: #ab924d"
                                               class="col-lg-10 align-center form-control input input__field input__field--hoshi notify-input-box"
                                               name="loginEmail" placeholder="email id" type="email"
                                               data-ng-model="email">
                                        <input style="color: #ab924d" autocomplete="on"
                                               class="col-lg-10 align-center form-control input input__field input__field--hoshi notify-input-box"
                                               name="password" placeholder="Password" type="password"
                                               data-ng-model="password">
                                    </div>
                                    <button type="submit" data-hover="Send" ng-click="loginMe()"
                                            class="btn btn-default progress-button btn-submit item2"
                                            data-animation="fadeInUp" data-animation-delay="900"
                                            data-out-animation="fadeOutUp" data-out-animation-delay="1300">
                                        <span><span class="arrow-wrap"><span class="arrow"></span></span></span>
                                    </button>
                                </form>
                            </div>
                        </section>
                        <!--/Notify Form-->
                        <section id="list" class="section text-left">
                            <div class="preloader"></div>
                            <div class="main-menu">
                                <a class="close-notify black" href="#home" data-animation="fadeInDown"
                                   data-animation-delay="900" data-out-animation="fadeOutUp"
                                   data-out-animation-delay="100">
                                    <div class="call-to-action">
                                        <i class="fa fa-times fa-2x"></i>
                                        <span class="top" style="background-color: #ab924d"></span>
                                        <span class="right" style="background-color: #ab924d"></span>
                                        <span class="bottom" style="background-color: #ab924d"></span>
                                        <span class="left" style="background-color: #ab924d"></span>
                                    </div>
                                </a>
                            </div>
                            <div style="height:350px;overflow:auto;">
                                <table id="table" class="display" width="100%"></table>
                                <!--                                <table id="table" style="width:100%; height: 100%;">-->
                                <!--                                    <thead>-->
                                <!--                                    <tr>-->
                                <!--                                        <th style="color: #ab924d;">First Name</th>-->
                                <!--                                        <th style="color: #ab924d;">Last Name</th>-->
                                <!--                                        <th style="color: #ab924d;">Email</th>-->
                                <!--                                        <th style="color: #ab924d;">Sent</th>-->
                                <!--                                    </tr>-->
                                <!--                                    </thead>-->
                                <!--                                    <tbody>-->
                                <!--                                    <tr ng-repeat="user in users">-->
                                <!--                                        <td><label style="color: #ab924d;">{{user.firstname}}</label></td>-->
                                <!--                                        <td><label style="color: #ab924d;">{{user.lastname}}</label></td>-->
                                <!--                                        <td><label style="color: #ab924d;">{{user.email}}</label></td>-->
                                <!--                                        <td>-->
                                <!--                                            <div id="sendSpan">-->
                                <!--                                                <i id="iconId" ng-show="user.isSent" class="fa fa-check-circle"-->
                                <!--                                                   style="font-size: 2em; color: #449d44"></i>-->
                                <!--                                                <i id="iconId" ng-show="!user.isSent" class="fa fa-times"-->
                                <!--                                                   style="font-size: 2em; color: #ac2925"></i>&#160;-->
                                <!--                                                <a id="sentEmailId" ng-if="!user.isSent" ng-click="resend($index)"-->
                                <!--                                                   style="text-decoration: underline; color: #ab924d">Resend</a>-->
                                <!--                                            </div>-->
                                <!--                                            <div id="loadId">-->

                                <!--                                            </div>-->
                                <!--                                        </td>-->
                                <!--                                    </tr>-->
                                <!--                                    </tbody>-->
                                <!--                                </table>-->
                            </div>
                        </section>
                    </div>
                    <!--/main content-->
                </div>
                <div class="footer copyright">
                    <span>
                        <ul class="social-icons">
                            <li>
                                <a href="https://www.facebook.com/Havenofbundles-103886041518749" target="_blank"
                                   title="Go to our Facebook" class="social-icon">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/havenofbundles" target="_blank"
                                   title="Go to our Twitter" class="social-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCq0Ltx3JbABe8A4yjiGMPbA?view_as=subscriber"
                                   target="_blank" title="Go to our Youtube" class="social-icon">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/havenofbundles/" target="_blank"
                                   title="Go to our Instagram" class="social-icon">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                        <p>Haven Of Bundles © 2021</p>
                    </span>
                </div>
            </div>

            <!--/Left Content Intro-->

            <!--Right Content Intro-->
            <div class="side side-right">
                <div class=""
                     style="background: radial-gradient(at left top, rgb(229, 79, 114), rgb(5, 110, 215));"></div>
                <div class="background"></div>
                <!--slider image-->
                <ul class="cb-slideshow">
                    <li><span>Image 01</span></li>
                    <li><span>Image 02</span></li>
                    <li><span>Image 03</span></li>
                    <li><span>Image 04</span></li>
                    <li><span>Image 05</span></li>
                    <li><span>Image 06</span></li>
                </ul>
                <!--/slider image-->


                <div class="counter-content page">
                    <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center text-left">
                        <p class="tagline">Enter your email for a chance to win a custom luxury wig and many more items!<br/>
                            <u>Giveaway rules:</u></p>
                        <ol>
                            <li>Subscribe to the email list</li>
                            <li>Follow our Instagram page</li>
                            <li>Follow our Facebook page</li>
                            <li>Tag 3 friends under one of our posts & that’s it!</li>
                        </ol>
                        <p>The more you tag, the higher your chances of winning. Winner will be announced on Launch Day!
                            Stay Tuned!</p>
                        <!--Counter-->

                        <div id="countdown">
                            <div class="row">
                                <div class="col">
                                    <div>
                                        <span class="days">00 </span>
                                    </div>
                                    <span class="small-hr"></span>
                                    <span class="remain-days days_text">days</span>
                                </div>
                                <div class="col">
                                    <div><span class="hours">00</span></div>
                                    <span class="small-hr"></span>
                                    <span class="remain-days hours_text">hours</span>
                                </div>
                                <div class="col">
                                    <div><span class="minutes">00 </span></div>
                                    <span class="small-hr"></span>
                                    <span class="remain-days minutes_text">minutes</span>
                                </div>
                                <div class="col">
                                    <div><span class="seconds">00 </span></div>
                                    <span class="small-hr"></span>
                                    <span class="remain-days seconds_text">seconds</span>
                                </div>
                            </div>
                        </div>
                        <!--/Counter-->
                    </div>
                </div>
                <div class="trans-overlay-dark"></div>
            </div>
            <!--/Right Content Intro-->
        </div>
    </div>
</div>
